<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Smart Lab Administration</title>
<link rel="stylesheet" href="{% static 'css/admin_panel.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">


</head>

<body>

<div class="panel">

<div class="header">

<h1>SMART LAB CONTROL SYSTEM</h1>

<p>
Administrator Control Center
</p>

</div>

<div class="grid">

<!-- DASHBOARD -->

<div class="card">

<span class="material-symbols-outlined">
dashboard
</span>

<h3>Lab Dashboard</h3>

<p>
Monitor students, sessions, attendance and system activity.
</p>

<a href="/dashboard/" class="btn">
Open Dashboard
</a>

</div>

<!-- ADMIN -->

<div class="card">

<span class="material-symbols-outlined">
admin_panel_settings
</span>

<h3>Administration</h3>

<p>
Manage database, users, permissions and records.
</p>

<a href="/admin/" class="btn">
Open Admin
</a>

</div>

<!-- ATTENDANCE -->
<!--
///Temporary disabled for now. [START]
<div class="card">

<span class="material-symbols-outlined">
fact_check
</span>

<h3>Attendance</h3>

<p>
Track and manage student attendance records.
</p>

<a href="/attendance/" class="btn">
Open
</a>

</div>

<!-- STUDENTS -->
<!--
<div class="card">

<span class="material-symbols-outlined">
groups
</span>

<h3>Students Database</h3>

<p>
View and manage registered students.
</p>

<a href="/students/" class="btn">
Open
</a>

</div>  

</div>




<div class="qr-section">

<h3>Smart Lab Control System</h3>

<p>
Mobile Control Module will be available in the next version.
</p>

</div>
///Temporary disabled for now. [END]
-->

<div class="footer">

Smart Lab Control System v1.0<br>
Department of Computer Science & Technology<br>
Siliguri Government Polytechnic

</div>

</div>

</body>
</html>