<!DOCTYPE html>
{% load static %}
<html>

<head>

<title>Create Session</title>
<link rel="stylesheet" href="{% static 'css/create_session.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>

<div class="container">

<a href="/dashboard/" class="back">
🏠 Dashboard
</a>

<h2>📚 Create New Session</h2>

<form method="post">

{% csrf_token %}

<input
name="title"
placeholder="Class Title"
required>

<input
name="duration"
type="number"
placeholder="Duration (Minutes)"
required>

<button type="submit">
Create Session
</button>

</form>

{% if code %}

<div class="code-box">

<h3>Session Created Successfully</h3>

<div class="code">
{{ code }}
</div>

<p style="margin-top:10px;">
Share this code with students to join the session.
</p>

</div>

{% endif %}

</div>

</body>

</html>