<!DOCTYPE html>
{% load static %}
<html>

<head>

<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<meta http-equiv="refresh" content="10">
<title>Smart Lab Dashboard</title>


<script>

function sendCommand(pc,cmd){

fetch(`/set-command/?pc=${pc}&cmd=${cmd}`)
.then(()=>{
location.reload()
})

}

function addSite(){

let site=document.getElementById("site").value

fetch(`/update-settings/?site=${site}`)
.then(()=>{
location.reload()
})

}

function removeSite(site){

fetch(`/remove-site/?site=${site}`)
.then(()=>{
location.reload()
})

}

function blockSite(){

let site=document.getElementById("blocksite").value

fetch(`/block-site/?site=${site}`)
.then(()=>{
location.reload()
})

}

function unblockSite(site){

fetch(`/unblock-site/?site=${site}`)
.then(()=>{
location.reload()
})

}

function sendNotice(){

let msg =
document.getElementById("notice").value;

if(msg==""){
alert("Enter Notice");
return;
}

fetch("/send-notice/",{

method:"POST",

headers:{
"Content-Type":
"application/x-www-form-urlencoded"
},

body:"message="+encodeURIComponent(msg)

})

.then(()=>{

alert("Notice Sent Successfully");

document.getElementById("notice").value="";

});

}

</script>

</head>

<body>

<div class="logout-box">

<a href="/logout/">
<button class="logout">
Logout
</button>
</a>

</div>

<div class="container">

<div class="menu">

<a href="/dashboard/">
<button class="btn on">
🏠 Dashboard
</button>
</a>

<a href="/create-session/">
<button class="btn unlock">
📚 Create Session
</button>
</a>

<a href="/sessions/">
<button class="btn unlock">
📖 Sessions
</button>
</a>

<a href="/attendance/">
<button class="btn warn">
📋 Attendance
</button>
</a>

<a href="/students/">
<button class="btn off">
👨‍🎓 Students
</button>
</a>

<a href="/logout/">
<button class="btn lock">
🚪 Logout
</button>
</a>

</div>

<h2>Smart Lab Control Dashboard</h2>
<div class="stats">

<div class="card">
<h3>{{ pcs|length }}</h3>
<p>Total PCs</p>
</div>

<div class="card">
<h3>{{ allowed_sites|length }}</h3>
<p>Allowed Sites</p>
</div>

<div class="card">
<h3>{{ blocked_sites|length }}</h3>
<p>Blocked Sites</p>
</div>

<div class="card">
<h3>Live</h3>
<p>System Status</p>
</div>

</div>

<div style="margin-bottom:20px;text-align:center;">

<h3>All Pcs Control</h3>

<br>

<button class="btn lock"
onclick="sendCommand('ALL','lock')">
🔒 Lock All
</button>

<button class="btn unlock"
onclick="sendCommand('ALL','unlock')">
🔓 Unlock All
</button>

<button class="btn off"
onclick="sendCommand('ALL','internet_off')">
🌐 Net Off All
</button>

<button class="btn on"
onclick="sendCommand('ALL','internet_on')">
✅ Net On All
</button>
<button class="btn lock"
onclick="sendCommand('ALL','shutdown')">
⏻ Shutdown All
</button>

<button class="btn unlock"
onclick="sendCommand('ALL','restart')">
🔄 Restart All
</button>

<button class="btn warn"
onclick="sendCommand('ALL','logoff')">
🚪 Logoff All
</button>

</div>

<table>

<tr>
<th>PC</th>
<th>IP</th>
<th>Status</th>
<th>Student</th>
<th>Session</th>
<th>Control</th>
</tr>

{% for pc in pcs %}

<tr>

<td>{{ pc.name }}</td>

<td>{{ pc.ip }}</td>

<td>

{% if pc.status == "online" %}

<span style="color:green;font-weight:bold;">
● Online
</span>

{% else %}

<span style="color:red;font-weight:bold;">
● Offline
</span>

{% endif %}

</td>

<td>{{ pc.student }}</td>

<td>{{ pc.session }}</td>

<td>

<button class="btn lock"
onclick="sendCommand('{{pc.name}}','lock')">
🔒 Lock
</button>

<button class="btn unlock"
onclick="sendCommand('{{pc.name}}','unlock')">
🔓 Unlock
</button>

<button class="btn off"
onclick="sendCommand('{{pc.name}}','internet_off')">
🌐 Off
</button>

<button class="btn on"
onclick="sendCommand('{{pc.name}}','internet_on')">
✅ On
</button>

<button class="btn warn"
onclick="sendCommand('{{pc.name}}','warning')">
⚠ Warn
</button>
<button class="btn lock"
onclick="sendCommand('{{pc.name}}','shutdown')">
⏻ Shutdown
</button>

<button class="btn unlock"
onclick="sendCommand('{{pc.name}}','restart')">
🔄 Restart
</button>

<button class="btn warn"
onclick="sendCommand('{{pc.name}}','logoff')">
🚪 Logoff
</button>

</td>

</tr>

{% endfor %}

</table>

<div class="notice-box">

<h3>📢 Send Notice To Students</h3>

<br>

<input
id="notice"
placeholder="Enter Notice Here"
style="width:300px;"
>

<button onclick="sendNotice()">
Send Notice
</button>

</div>

<div class="section">

<h3>Add Allowed Website</h3>

<br>

<input
id="site"
placeholder="example.com"
>

<button onclick="addSite()">
Add
</button>

<ul>

{% for site in allowed_sites %}

<li>

{{ site }}

<button onclick="removeSite('{{site}}')">
Remove
</button>

</li>

{% endfor %}

</ul>

</div>

<div class="section">

<h3>Block Website</h3>

<br>

<input
id="blocksite"
placeholder="example.com"
>

<button onclick="blockSite()">
Block
</button>

<ul>

{% for site in blocked_sites %}

<li>

{{ site }}

<button onclick="unblockSite('{{site}}')">
Unblock
</button>

</li>


{% endfor %}

</ul>

</div>

</div>

</body>

</html>