{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Smart Lab Control System</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">


</head>

<body>

<!-- ADMIN ICON -->

<a href="/admin-panel/" class="admin">
<span class="material-symbols-outlined">
admin_panel_settings
</span>
</a>

<div class="main-container">

<!-- LEFT SECTION -->

<div class="logo-section">

<img src="{% static 'images/sgp_logo.png' %}" alt="SGP Logo">

<h1>SMART LAB</h1>

<h3>CONTROL SYSTEM</h3>

<p>
West Bengal State Council of Technical &
Vocational Education and Skill Development
</p>

<p>
Department of Computer Science & Technology
</p>

<p>
Siliguri Government Polytechnic
</p>

</div>

<!-- LOGIN SECTION -->

<div class="login-container">

<h2>Student Login</h2>

<p>
Enter your Registration Number & Session Code
</p>

<form method="POST">

{% csrf_token %}

<div class="input-group">
<input
type="text"
name="registration"
placeholder="Registration Number"
required>
</div>

<div class="input-group">
<input
type="text"
name="session_code"
placeholder="Session Code"
required>
</div>

<button type="submit" class="login-btn">
Login
</button>

</form>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

<div class="footer">
Version 1.0 | Smart Lab Control System
</div>

</div>

</div>

</body>
</html>