<!DOCTYPE html>
{% load static %}
<html>

<head>

<title>Session Management</title>
<link rel="stylesheet" href="{% static 'css/session_list.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">



</head>

<body>

<div class="container">

<div class="header">

<h2>📚 Session Management</h2>

<div>

<a href="/dashboard/" class="btn back">
🏠 Dashboard
</a>

<a href="/create-session/" class="btn">
➕ Create Session
</a>

</div>

</div>

<div class="stats">

<div class="card">
<h3>{{ sessions|length }}</h3>
<p>Total Sessions</p>
</div>

<div class="card">
<h3>Live</h3>
<p>Session Monitoring</p>
</div>

</div>

<table>

<tr>
<th>Title</th>
<th>Session Code</th>
<th>Duration</th>
<th>Status</th>
<th>Action</th>
</tr>

{% for s in sessions %}

<tr>

<td>{{ s.title }}</td>

<td>
<b>{{ s.code }}</b>
</td>

<td>
{{ s.duration }} Minutes
</td>

<td>

{% if s.active %}

<span class="active">
🟢 Active
</span>

{% else %}

<span class="ended">
🔴 Ended
</span>

{% endif %}

</td>

<td>

{% if s.active %}

<a href="/sessions/end/{{s.id}}/"
class="btn btn-danger">
End Session
</a>

{% else %}

Completed

{% endif %}

</td>

</tr>

{% endfor %}

</table>

</div>

</body>
</html>