<!DOCTYPE html>
{% load static %}
<html>
<head>

<title>Students Database</title>
<link rel="stylesheet" href="{% static 'css/students.css' %}">

<meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>

<a href="/dashboard/" class="btn back-btn">
🏠 Back To Dashboard
</a>

<div class="container">

<div class="header">

<h2>👨‍🎓 Students Database</h2>

<div>

<a href="/students/add/" class="btn">
➕ Add Student
</a>

<a href="/import-students/" class="btn">
📊 Import Excel
</a>

</div>

</div>

<div class="stats">

<div class="card">
<h3>{{ students|length }}</h3>
<p>Total Students</p>
</div>

<div class="card">
<h3>Active</h3>
<p>Database Status</p>
</div>

</div>

<table>

<tr>
<th>Registration No</th>
<th>Name</th>
<th>Department</th>
<th>Semester</th>
<th>Action</th>
</tr>

{% for student in students %}

<tr>

<td>{{ student.registration_number }}</td>

<td>{{ student.name }}</td>

<td>{{ student.department }}</td>

<td>{{ student.semester }}</td>

<td>

<div class="action-buttons">

<a href="/students/edit/{{ student.id }}" class="btn">
✏ Edit
</a>

<a href="/students/delete/{{ student.id }}/"
class="btn btn-danger">
🗑 Delete
</a>

</div>

</td>

</tr>

{% endfor %}

</table>

</div>

</body>
</html>