<!DOCTYPE html>
{% load static %}
<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Student Session Panel</title>

<link rel="stylesheet" href="{% static 'css/student_panel.css' %}">


<script>

let seconds = {{ remaining }};

function updateTimer(){

if(seconds <= 0){

document.getElementById("timer").innerHTML="EXPIRED";

alert("Session Expired");

window.location.href="/";

return;
}

let hrs = Math.floor(seconds/3600);

let min = Math.floor((seconds%3600)/60);

let sec = seconds%60;

document.getElementById("timer").innerHTML =
String(hrs).padStart(2,'0')
+
":"
+
String(min).padStart(2,'0')
+
":"
+
String(sec).padStart(2,'0');

seconds--;

}

setInterval(updateTimer,1000);

function loadNotice(){

fetch("/get-notice/")
.then(res => res.json())
.then(data => {

document.getElementById(
"notice-text"
).innerHTML = data.message;

});

}

setInterval(loadNotice,5000);

</script>

</head>

<body onload="updateTimer();loadNotice();">

<div class="panel">

<h2>Welcome {{ student.name }}</h2>

<div class="session-name">
📚 {{ session.title }}
</div>

<div class="info">
Registration No: {{ student.registration_number }}
</div>

<p class="status">
🟢 Session Active
</p>

<div
id="timer"
class="timer">
Loading...
</div>

<div class="notice">

📢 Admin Notice

<br><br>

<span id="notice-text">
Loading...
</span>

</div>
</div>

</body>
</html>