<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Session Started</title>
<link rel="stylesheet" href="{% static 'css/success.css' %}">
</head>


<script>

// Session monitoring
setInterval(() => {
    fetch("/check-session/")
    .then(res => res.json())
    .then(data => {
        if (!data.active){
            alert("Session expired!");
            window.location.href = "/";
        }
    })
}, 5000);

// Redirect after 3 seconds
setTimeout(function(){
    window.location.href="/student-panel/";
},3000);

</script>

</head>

<body>

<div class="success-container">

<h2>Welcome {{ student.name }}</h2>

<p>Login Successful</p>

<p>Your attendance has been recorded.</p>

<div class="loader"></div>

<p class="status">Session Started Successfully</p>

<p class="redirect">
Redirecting...
</p>

</div>

</body>
</html>